
{% extends 'base.html' %}
{% from 'macro/shelf.html' import ShelfPreview %}
{% from 'macro/menu.html' import Menu %}


{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
{% endblock %}



{% block menu %} 

    {{Menu()}}

{% endblock %}



{% block content %}

    <div class="filters-section">
        <a href="#">Books</a>
        <a href="/ExploreShelfs">Shelfs</a>
        <a href="#">Boards</a>
    </div>

    {% for i in range(30) %}
        <div style="display:flex;flex-direction:row;justify-content:space-between;gap:1%;">
            {{ShelfPreview(i+1)}}
            {{ShelfPreview(i+1)}}
            {{ShelfPreview(i+1)}}
            {{ShelfPreview(i+1)}}
        </div>
    {%endfor%}

{% endblock %}



{% block sidebar %}

{% endblock %}
