
{% extends 'base.html' %}
{% from 'macro/menu.html' import Menu %}
{% from 'macro/filter.html' import ContentFilter %}
{% from 'macro/post.html' import PostPreview %}
{% from 'macro/shelf.html' import ShelfPreview %}
{% from 'macro/board.html' import BoardPreview %}


{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}



{% block menu %} 

{{Menu()}}

{% endblock %}



{% block content %}

{{ContentFilter()}}

<div class="home-recommendation"> 
    <div class="shelf-recommendation"> 
        {{ShelfPreview(1)}} {{ShelfPreview(2)}} {{ShelfPreview(1)}} {{ShelfPreview(2)}}
    </div>
    <div class="board-recommendation"> 
        {{BoardPreview()}}
        {{BoardPreview()}}
    </div>
    <div class="post-recommendation"> 
        {{PostPreview(1)}}
        {{PostPreview(2)}}
        {{PostPreview(3)}}
        {{PostPreview(4)}}
    </div>
</div>

{% endblock %}


<!-- 
{% block sidebar %}

{% endblock %} -->
