
{% extends 'base.html' %}
{% from 'macro/menu.html' import Menu %}
{% from 'macro/book.html' import BookPreview %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/shelfpage.css') }}">
{% endblock %}



{% block menu %} 

{{Menu()}}

{% endblock %}



{% block content %}

<div class="shelf-title"> 
    <h1>Science</h1>
    <small>100 followers</small>
    <p>book count: 50</p>
</div>

<div class="shelf-content"> 

{% for i in range(40) %}
    {{ BookPreview(i) }}
{% endfor %}

</div>

{% endblock %}



{% block sidebar %}

{% endblock %}
