
{% macro BoardPreview(number) %}

<style>

    .board-preview {

        width: 100%;
        padding: 2%;
        border: 1px solid;

        display: flex;
        flex-direction: column;

        justify-content: space-between;

        align-items: center;
        text-align: center;
    }

    .board-preview a {
        background-color: lightblue;
    }

    .board-preview .board-profile-pic {
        width: 30%;
        height: 55%;
    }

</style>

<div class="board-preview">

    <img class="board-profile-pic" src="{{ url_for('serve_assets', filename='cover.jpg') }}"> 

    <div>
        <strong>Board Title</strong>
        <small><a href="#">follow</a></small>
    </div>

    <small>1000 members</small>

    <h4> Currently Reading:</h4><i>The Book name</i>

    <p> 
        something descriptive about the board and its intentions, also some catchy lines to attract new members<br>
        something descriptive about the board and its intentions, also some catchy lines to attract new members<br>
    </p>
</div>

{% endmacro %}