
{% macro ShelfPreview(number) %}

<style>

    .shelf-preview {
        width: 40%;
        border: 1px solid;

        display: flex;
        flex-direction: column;

        justify-content: space-between;

        align-items: center;
        text-align: center;
    }

    .shelf-preview a {
        background-color: lightblue;
    }

    .shelf-link {
        text-decoration: none;
        color: black;
        background-color: white;
    }

</style>

<div class="shelf-preview">
    <a class="shelf-link" href="/ShelfPage">
    <h3>Shelf Title</h3>
    </a>
    <small><a href="#">follow</a></small>
    <p> some thing to say about the shelf</p>
</div>

{% endmacro %}